In [43]:
import pandas as pd
import plotly.express as px
import matplotlib as plt
import mysql.connector
import sqlalchemy

In [6]:
df=pd.read_csv(r"C:\Users\ALIYA\OneDrive\Documents\Coding_Temple\Week 6\Day2\accessories.csv")

In [20]:
#Normalize the column names
df.columns=df.columns.str.replace(' ','_').str.strip().str.lower()
df.head()

,name,variation,diy,buy,sell,color_1,color_2,size,source,source_notes,...,mannequin_piece,version,style,label_themes,type,villager_equippable,catalog,filename,internal_id,unique_entry_id
0,3D glasses,White,No,490,122,White,Colorful,1x1,Able Sisters,Available from Able Sisters shop only,...,No,1.0.0,Active,party,AccessoryEye,Yes,For sale,AccessoryGlassThreed0,4463,FNxEraBTeWRiCvtFu
1,3D glasses,Black,No,490,122,Black,Colorful,1x1,Able Sisters,Available from Able Sisters shop only,...,No,1.0.0,Active,party,AccessoryEye,Yes,For sale,AccessoryGlassThreed1,11020,mM9SXPCcGPfPJAmtm
2,bandage,Beige,No,140,35,Beige,White,1x1,Able Sisters,Available from either Mable's temporary shop o...,...,Yes,1.0.0,Active,outdoorsy; comfy; sporty,AccessoryMouth,No,For sale,AccessoryMouthBandageSkin,4677,2qFT5iPkk8bREvpkj
3,beak,Yellow,No,490,122,Yellow,Yellow,1x1,Able Sisters,Available from either Mable's temporary shop o...,...,Yes,1.0.0,Cute,fairy tale; party; theatrical,AccessoryMouthInvisibleNose,No,For sale,AccessoryMouthBeakYellow,3549,T5CpsJi4xBSachNL5
4,birthday shades,Yellow,No,-1,620,Yellow,Red,1x1,Birthday,NaN,...,No,1.0.0,Gorgeous,party,AccessoryEye,Yes,Not for sale,AccessoryGlassBirthday0,4510,S6CiB9ZvzBTMhEnDz

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   222 non-null    object
 1   variation              222 non-null    object
 2   diy                    222 non-null    object
 3   buy                    222 non-null    int32
 4   sell                   222 non-null    int64
 5   color_1                222 non-null    object
 6   color_2                222 non-null    object
 7   size                   222 non-null    object
 8   source                 222 non-null    object
 9   source_notes           206 non-null    object
 10  seasonal_availability  222 non-null    object
 11  mannequin_piece        222 non-null    object
 12  version                222 non-null    object
 13  style                  222 non-null    object
 14  label_themes           222 non-null    object
 15  type                   222 non-null    object
 16  villager_equippable    222 non-null    object
 17  catalog                222 non-null    object
 18  filename               222 non-null    object
 19  internal_id            222 non-null    int64
 20  unique_entry_id        222 non-null    object
dtypes: int32(1), int64(2), object(18)
memory usage: 35.7+ KB

In [18]:
df[df['buy']=='NFS']

Empty DataFrame
Columns: [name, variation, diy, buy, sell, color_1, color_2, size, source, source_notes, seasonal_availability, mannequin_piece, version, style, label_themes, type, villager_equippable, catalog, filename, internal_id, unique_entry_id]
Index: []

[0 rows x 21 columns]

In [17]:
col_to_drop=[]
col_to_drop.append('miles_price')

#Run drop statement
df.drop(columns=col_to_drop,inplace=True)

In [16]:
#Replace the not for sale with -1
df['buy'].replace('NFS',-1,inplace=True)
#Cast it as an integer type:
df['buy']=df['buy'].astype(int)

In [15]:
df['buy'].value_counts()

buy
560     37
880     33
1100    28
1040    19
1560    17
1300    15
-1      12
490      9
140      8
980      8
770      8
2000     7
910      6
630      5
1760     4
1320     4
1120     1
700      1
Name: count, dtype: int64

In [22]:
df[df['source_notes'].isna()==True]

,name,variation,diy,buy,sell,color_1,color_2,size,source,source_notes,...,mannequin_piece,version,style,label_themes,type,villager_equippable,catalog,filename,internal_id,unique_entry_id
4,birthday shades,Yellow,No,-1,620,Yellow,Red,1x1,Birthday,NaN,...,No,1.0.0,Gorgeous,party,AccessoryEye,Yes,Not for sale,AccessoryGlassBirthday0,4510,S6CiB9ZvzBTMhEnDz
5,birthday shades,Pink,No,-1,620,Pink,Pink,1x1,Birthday,NaN,...,No,1.0.0,Gorgeous,party,AccessoryEye,Yes,Not for sale,AccessoryGlassBirthday1,11217,g3MPcmAKM4z5h8KYX
6,birthday shades,Red,No,-1,620,Red,Pink,1x1,Birthday,NaN,...,No,1.0.0,Gorgeous,party,AccessoryEye,Yes,Not for sale,AccessoryGlassBirthday2,11218,ojXoAAj8Bs2XgRiWB
7,birthday shades,Blue,No,-1,620,Light blue,Green,1x1,Birthday,NaN,...,No,1.0.0,Gorgeous,party,AccessoryEye,Yes,Not for sale,AccessoryGlassBirthday3,11219,Yr9mRJaZM44554oTS
30,candy-skull mask,Purple,No,-1,800,White,Purple,1x1,Gulliver,NaN,...,No,1.0.0,Gorgeous,formal; party; theatrical,AccessoryEyeMouthInvisibleNose,No,Not for sale,AccessoryGlassmouthCatrina0,5666,GT3LzQZKg29riohcP
31,candy-skull mask,Orange,No,-1,800,White,Orange,1x1,Gulliver,NaN,...,No,1.0.0,Gorgeous,formal; party; theatrical,AccessoryEyeMouthInvisibleNose,No,Not for sale,AccessoryGlassmouthCatrina1,11169,xyQdqFuAkXkNs9qQ5
32,candy-skull mask,Blue,No,-1,800,White,Light blue,1x1,Gulliver,NaN,...,No,1.0.0,Gorgeous,formal; party; theatrical,AccessoryEyeMouthInvisibleNose,No,Not for sale,AccessoryGlassmouthCatrina2,11170,fev4af8sNdggceyW9
97,Labelle sunglasses,Twilight,No,2000,500,Purple,Purple,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate0,9887,2B4ttG2NJS7ZKRimP
98,Labelle sunglasses,Midnight,No,2000,500,Black,Black,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate1,11776,Pk4syNKBscFTBD2mP
99,Labelle sunglasses,Passion,No,2000,500,Red,Red,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate2,11777,TJqYcpQKFaPX6naSj
100,Labelle sunglasses,Ocean,No,2000,500,Blue,Blue,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate3,11778,yWuQ9CtGKLaG7ntW9
101,Labelle sunglasses,Sunset,No,2000,500,Yellow,Yellow,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate4,11779,Km6htuKWbDhQx5v2o
102,Labelle sunglasses,Love,No,2000,500,Pink,Pink,1x1,Labelle,NaN,...,No,1.0.0,Gorgeous,everyday; formal; party; theatrical; vacation,AccessoryEye,Yes,For sale,AccessoryGlassKate5,11780,WHaB5ZbzSPteM5KxG
109,leaf,Green,Yes,-1,100,Green,Green,1x1,Crafting,NaN,...,No,1.0.0,Simple,outdoorsy; comfy; vacation,AccessoryMouth,No,Not for sale,AccessoryMouthLeafGreen,4682,XrpTjwp94FwmvXjmE
120,Nook Inc. eye mask,Green,No,-1,2000,Green,White,1x1,Nook Miles Shop,NaN,...,No,1.0.0,Simple,comfy,AccessoryEye,Yes,Not for sale,AccessoryGlassNook0,9654,n8j5gx4zjuK7tkYKq
180,shattered glasses,Black,No,-1,10,Black,Light blue,1x1,Recycle bin,NaN,...,No,1.0.0,Simple,goth,AccessoryEye,Yes,Not for sale,AccessoryGlassCrackBlack,4337,9nxh9LSDKZoYjygJg

In [28]:
df['source_notes'].fillna('Event Item',inplace=True)

In [26]:
df['source_notes'].value_counts()

source_notes
Available from Able Sisters shop only                                106
Available from either Mable's temporary shop or Able Sisters shop     98
Received in mail from DAL after taking certain numbers of flights      2
Name: count, dtype: int64

In [24]:
df['source_notes'].describe()

count                                       206
unique                                        3
top       Available from Able Sisters shop only
freq                                        106
Name: source_notes, dtype: object

In [29]:
df['label_themes'].str.split(';')

0                                [party]
1                                [party]
2           [outdoorsy,  comfy,  sporty]
3      [fairy tale,  party,  theatrical]
4                                [party]
                     ...
217                   [party,  vacation]
218                   [party,  vacation]
219                   [party,  vacation]
220           [everyday,  formal,  work]
221           [everyday,  formal,  work]
Name: label_themes, Length: 222, dtype: object

In [37]:
threshold=int(len(df)*.3)

In [38]:
df1=df.drop(columns='label_themes')
col_to_drop=[]
for col in df1.columns:
    if df[col].nunique()>=threshold:
        col_to_drop.append(col)
col_to_drop

['name', 'filename', 'internal_id', 'unique_entry_id']

### Upload to a sql instance

In [42]:
df1.to_sql('animal_crossing_accessories',con= my_conn, if_exists='replace')

NameError: name 'my_conn' is not defined